# Dependencias esenciales para Read the Docs
sphinx
sphinx-rtd-theme
myst-parser

# Extensiones opcionales útiles para la documentación
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
